

    <div class="container text-center">
      <div class="row">
        <% @mypromises.each  do |prom| %>

        <div class="col-xs-12 col-md-6 ">
          <div class="friends-card">

            <div class="friend-photo">
             <div  style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),  url('<%= cl_image_path prom.photo %>'); height: 40vh; " class= friends-promise-photo>

              <%= image_tag current_user.facebook_picture_url, class: "card-user" %>
              <% if prom.status == "Broken" %>
              <%= image_tag "broken.png", class: "status" %>
              <% elsif prom.status == "Pending" %>

              <% else %>
              <%= image_tag "completed.png", class: "status" %>
              <% end %>

            </div>
          </div>

          <div class="row">
           <div class="col-xs-12 col-md-6">
            <div class="card-description">
              <h3><%= prom.title.capitalize %></h3>
              <p>Promised by <%= prom.user.name %> </p>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-xs-12 col-md-12">
            <div class="promise-stats">
              <div class="deadline">
                <i class="glyphicon glyphicon-time"></i><span> in <%= distance_of_time_in_words(prom.deadline, Date.today) %></span>
              </div>
              <div class="friends-count">
              <i class="glyphicon glyphicon-user"></i>
                <span >
                 <%= prom.witnesses.count %> witnesses
               </span>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>

 <% end %>
</div>
</div>



