<% content_for :for_head do %>
  <%= render 'layouts/fbthumbnail' %>
<% end %>


<div class="index-banner" style="background-image: url('<%= cl_image_path("f7b67tkmst3tfgkppejn.jpg")%>'), linear-gradient(-225deg, rgba(0,101,168,0.9) 0%, rgba(0,36,61,0.6) 50%)">
  <a href="#previous" id="previous" class="previous glyphicon glyphicon-chevron-up"></a>

  <%= simple_form_for @promise do |f| %>

  <div class="promise-title promise form active">
    <%=f.input :title,  input_html: { class: "title-input" }, autofocus: true, label: false %>
  </div>

  <div class="promise-description form promise">
    <%=f.input :description, input_html: { class: "title-input" }, autofocus: true, label: false %>
  </div>

  <div class="promise-calendar form promise">
    <%=f.input :deadline, as: :string, label: false, placeholder: 'Date', input_html: { class: "datepicker title-input" } %>
    <p id="hey"> </p>
  </div>

  <div class="promise-photo form promise">
    <%=f.input :photo, label: false, wrapper_html: { style: 'border: 0px;'}%>
    <%= f.input :photo_cache, as: :hidden %>
    <span class="glyphicon glyphicon-camera" id="camera"></span>

  </div>

  <div class="promise-witness form promise">
   <select name="promise[temp_witnesses][]" id="promise_temp_witnesses" class="form-control" multiple="multiple" style="width: 70vw">
          <% @taggable_friends.each do |x| %>
            <option value='<%= x["name"] %>'><%= x["name"] %></option>
          <% end %>
        </select>
      </div>
      <% end %>

      <a href="#next" id="next" class="next glyphicon glyphicon-chevron-down"></a>
      <a class="hideyourself glyphicon glyphicon-send" id="submit"></a>
  </div>


  <%= render 'story' %>

  <%= render 'testimonials' %>



    <script>
      const photoinput = document.getElementById("promise_photo");
      photoinput.style.display = "none";
      photoinput.style.border = "0";

      document.getElementById("camera").addEventListener("click", (event) => {
        photoinput.click();
      })




      const next = document.getElementById("next");
      const previous = document.getElementById("previous");
      const submit = document.getElementById("submit");

      const form = document.getElementById("new_promise");

      console.log(form);

      const inputs = document.getElementsByClassName("form");
      console.log(inputs.length);
      let looper = 0;


      next.addEventListener('click', (event) =>{
        event.preventDefault();
        inputs[looper].classList.remove("active");
        looper ++
        inputs[looper].classList.add("active")
        checkButtons();
      })

      previous.addEventListener('click', (event) =>{
        event.preventDefault();
        inputs[looper].classList.remove("active");
        looper --
        inputs[looper].classList.add("active")
        checkButtons();

      })

      function checkButtons(){
        form.style.border = "2px solid #307672";
        next.classList.remove("hideyourself");
        previous.classList.remove("hideyourself");
        submit.classList.add("hideyourself");

      //start
      if (looper === 0){
        previous.classList.add("hideyourself");
      }

      else if (looper === 3){
        form.style.border = "0px";
      }
      // end
      else if (looper === (inputs.length - 1 )){
        next.classList.add("hideyourself");
        submit.classList.remove("hideyourself");
      }
    }

    checkButtons();

    const glyph = document.getElementById("submit");
    glyph.addEventListener('click', (event) => {
     document.querySelector("#new_promise").submit();
   });


</script>
