<div class="banner-home">
  <div class="banner-content">
    <div id="new-promise">
      <%= simple_form_for @promise do |f| %>
      <div class="promise-title promise active">
        <%=f.input :title, input_html: { class: "title-input" }, autofocus: true, label: false %>
        <a href="#next" class="next">&gt;</a>
      </div>
      <div class="promise-calendar promise">

        <a href="#previous" class="previous">&lt;</a> <%=f.input :deadline, label: false %> <a href="#next" class="next">&gt;</a>

      </div>
      <div class="promise-witness promise">
        <a href="#previous" class="previous">&lt;</a>
        <select name="promise[temp_witnesses][]" id="promise_temp_witnesses" class="form-control" multiple>
        <a href="#next" class="next">&gt;</a>
          <% @taggable_friends.each do |x| %>
          <option value='<%= x["name"] %>'><%= x["name"] %></option>
          <% end %>
        </select>
        <% end %>
      </div>
      <br>
    </div>
  </div>
</div>
        <p>
        <span id="banner-typed-text"></span>
        </p>

<script>

  const next = document.getElementsByClassName("next");
  for(let i = 0; i < next.length; i++){
    console.log(i);
  next[i].addEventListener('click',(event) => {
    event.preventDefault();
    let form_div = next[i].parentElement;
    form_div.classList.remove("active");
    form_div.nextElementSibling.classList.add("active");
  });
}
  const previous = document.getElementsByClassName("previous");
  for(let i = 0; i < previous.length; i++ ) {
  previous[i].addEventListener('click', (event) => {
    event.preventDefault();
    let form_div = previous[i].parentElement;
    form_div.classList.remove("active");
    form_div.previousElementSibling.classList.add("active");
  });
}

</script>



<%= render 'testimonials' %>



